<!--Navigation Bar-->
<nav class="navbar navbar-light bg-light fixed-top" *ngIf="nav.visible">
    <div class="container">
        <div class="col-auto col-md-1 col-xl-1">
            <a class="menu text-end" data-bs-toggle="offcanvas" href="#offcanvasWithBackdrop" role="button" aria-controls="offcanvasExample"><i class="menu bi bi-list bi-5x"></i></a>
        </div>
        <div class="col-auto col-md-3 col-xl-3 d-none d-sm-inline">
            <a class="navbar-title text-start" href="#">BULEWORKS</a>
        </div>
      <div class="col-auto  col-md-8 col-xl-8 text-end">
        <a class="navbar-name" href="#">
          <span class="name" *ngFor="let admin of this.adminList">
            {{admin.adm_name}} ({{admin.adm_id}}) {{admin.adm_level}}
          </span>
        </a>
        <a class="navbar-brand" href="#">
          <img src="../../assets/images/log out.png"  alt="" width="24" height="30" (click)="isLoggedOut()">
        </a>
      </div>
    </div>
</nav>

<!--Side Menu Bar-->
<div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header align-items-center">
      <h5 class="offcanvas-title d-flex align-items-center" id="offcanvasWithBackdropLabel">Menu</h5>
      <a class="offcanvas-button text-reset" data-bs-dismiss="offcanvas" role="button" aria-label="Close"><i class="close bi bi-x-circle-fill"></i></a>
    </div>
    <hr>
    <div class="offcanvas-body" *ngFor="let admin of this.adminList">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0" id="menu">
            <li class="nav-item">
                <a routerLink="/zone" class="main nav-link p-0">
                    <i class="bi bi-house-fill"></i> <span class="ms-1">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="employee_crud/employee-list" class="main nav-link p-0">
                    <i class="bi bi-person-fill"></i> <span class="ms-1">Employee</span>
                </a>
                <ul>
                    <li>
                        <a class="sub nav-link p-0" routerLink="employee_crud/add-employee" *ngIf="admin.adm_level == 'Project Manager' && admin.adm_level == 'Project Director'">
                            <i class="bi bi-person-plus-fill"></i><span class="ms-1">Add Employee</span>
                        </a> 
                    </li>
                    <li>
                        <a href="#" class="sub nav-link p-0" routerLink="employee_crud/employee-list">
                            <i class="bi bi-people-fill"></i> <span class="ms-1">Employee List</span>
                        </a> 
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a  routerLink="/zone" class="main nav-link p-0">
                    <i class="bi bi-person-workspace"></i> <span class="ms-1">Zone</span>
                </a>
                <ul>
                    <li>
                        <a routerLink="/zone" class="sub nav-link p-0">
                            <i class="bi bi-stickies-fill"></i> <span class="ms-1">Overall Summary</span>
                        </a> 
                    </li>
                    <li>
                        <a routerLink="/zone_crud/create-zone" class="sub nav-link p-0">
                            <i class="bi bi-building-fill-add"></i><span class="ms-1">Add Zone</span>
                        </a> 
                    </li>
                </ul>
            </li>
        </ul>
    </div>
  </div>
