
<div class="background">
<div class="box" >
      <div class="container">
        <h2 style="text-align:center">Welcome Back</h2>
        <input type="text" placeholder="ID" name="uname" required>
        
        <input type="password" placeholder="Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container">
        <span class="psw"><a>Forgot password?</a></span>
      </div>
    </div>
  </div>