<div class="content">
    <div class="row align-items-center">
        <div class="col-12">
            <a class="hyperlink" routerLink="/zone">Overall Summary</a>
        </div>
        <div class="col-6">
            <h3>Overall Summary</h3>
        </div>
        <div class="col-6">
            <p class="text-end"><span>+ Add Zone</span></p>
        </div>
    </div>
    <hr>
    <div class="row" >
        <div class="col-auto col-xl-4 col-lg-6 col-md-6 col-sm-12 pb-3">
            <div class="card shadow p-0 bg-body rounded">
                <div class="card-header">
                    <div class="row align-items-center mb-0">
                        <div class="col-6">
                            <p class="name d-flex align-items-center">Mid Valley</p>
                        </div>
                        <div class="col-6">
                            <p class="date text-end">{{this.result}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center mb-3">
                        <div class="col-8">
                            <p class="check-in d-flex align-items-center">Checked-In Today</p>
                        </div>
                        <div class="col-4">
                            <p class="check-in-amt text-end">30/40</p>
                        </div>
                        <div class="col-8">
                            <p class="total d-flex align-items-center">Total Employees</p>
                        </div>
                        <div class="col-4">
                            <p class="total-amt text-end">40</p>
                        </div>
                    </div>
                    <a routerLink="/zone_detail" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>


