.content{
    padding-top: 65px;
}
h3{
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}

.hyperlink{
    text-decoration: none;
    font-size: 15px;
    color: blue;
    font-weight: 700;
    cursor: pointer;
}

h5{
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
}

.card-header{
    background-color: white;
}
.card-header p.name{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.card-header p.date{
    margin: 0!important;
    font-weight: 700;
    font-size: 15px;
    color: grey;
}

.card-body p{
    font-weight: 700;
    font-size: 15px;
    color: grey;
}

.card-body p.check-in-amt{
    font-weight: 700;
    font-size: 15px;
    color: #1481d3;
}

.card-body .btn{
    width: 100%!important;
    border-radius: 50px;
}

h3{
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}

p{
    font-size: 15px;
    font-weight: 700;
    color: blue;
    cursor: pointer;
}

.card-body a{
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.name{
    font-size: 15px;
    font-weight: 700;
    color: blue;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date{
    font-size: 15px;
    font-weight: 700;
    color: blue;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn{
    max-width: 50%;
    text-align: center!important;
}

.to{
    padding-top: 15px;
}

label{
    font-size: 15px;
    font-weight: 700;
    color: grey;
    cursor: pointer;
}

input{
    font-size: 15px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.bshadow {
    width: 10cm;
}

hr{
    padding-bottom: 15px!important  ;
    margin: 0!important;
}

#alert{
    height: 50px;
    padding-bottom: 30px;
}

.button{
    margin-top: 20px;
}
